.displayTask{
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;    
    padding: 16px 0 16px 0;
}
.displayTask .taskBox{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    min-height: 100px;
    background-color: #EDF0FE;
    border-radius: 8px;
    padding: 16px;
}
.displayTask .taskBox:nth-child(2){
    background-color: #C8FECA;
}
.displayTask .taskBox:last-child{
    background-color: #F3F3F3;
}
.displayTask .task{
    display: flex;
    align-items: flex-start;
    column-gap: 12px;
}
.taskTitle{
    flex: 1;
    font-size: 14px;
    color: #000;
    background-color: #fff;
    /* min-height: 32px; */
    padding: 8px 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}
.displayTask .taskBox label{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
.btn{
    width: auto;
    border: none;
    background-color: #1868DB;
    color: #000;
    font-size: 14px;
    border-radius: 4px;
    height: 32px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    column-gap: 4px;
}
.btn:hover{
    cursor: pointer;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.224);
}
.btn.completedBtn{
    background-color: #2DE13C;
    color: #043708;
    stroke: #043708;
}
.btn.deleteBtn{
    background-color: #F8B6B6;
    color: #630D0D;
    stroke: #630D0D;
}