p{
    margin: 0;
}
.headerSection{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 32px;
}
.headerTitle{
    background-color: #cfcfcf;
    width: 80%;
    height: auto;
    border-radius: 24px;
    padding: 24px 0 24px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 12px;
}
.headerTitle h1{
    margin: 0;
    line-height: 100%;
}
.inputBoxContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;

}
.inputBoxContainer .inputLabel{
    font-size: 14px;
    font-weight: 500;
}
.inputBoxContainer .inputBox{
    width: -webkit-fill-available;
    height: 48px;
    font-size: 16px;
    color: #000;
    border-radius: 8px;
    border: 1px solid #efefef;
    padding: 0 16px;
}
.createTaskBox{
    width: 100%;
    display: flex;
    column-gap: 12px;
    align-items: center;
}
.createTaskBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    border: none;
    background-color: #1868DB;
    height: 48px;
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
}
.createTaskBtn:hover{
    background-color: #0F4A9F;
    cursor: pointer;
}
.taskContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.displayTodoContainer{
    flex: 1;
    display: flex;
    justify-content: center;
}