<section class="headerSection">
    <div class="headerTitle">
        <h1>Todo Application</h1>
        <p>Create your daily todo task and mark them as completed.</p>
    </div>
    <div class="inputBoxContainer">
        <label for="inputBox" class="inputLabel">Create New Task</label>
        <div class="createTaskBox">
            <input type="text" [(ngModel)]="newTodoTitle" class="inputBox" placeholder="create new task">
            <button (click)="createTask()" class="createTaskBtn">Create</button>
        </div>
    </div>
</section>
<section class="taskContainer">
    <app-display-todos 
        class="displayTodoContainer"
        [todosList]="todosList" 
        [todosCompleted]="todosCompleted" 
        [todosDeleted]="todosDeleted"]
        (updateTodo)="updateTodo($event)"
        (completedStatus)="completeTask($event)"
        (deletedStatus)="remove($event)"
    >
    </app-display-todos>
</section>